body{background: linear-gradient(to right, rgba(4, 4, 241, 0.578), rgb(159, 184, 231), rgba(54, 125, 164, 0.596),rgba(4, 4, 241, 0.578));}
    .tete {
        display: flex;
        justify-content: space-evenly;
        background: radial-gradient(circle at center,rgb(0, 0, 0),cornflowerblue, cornflowerblue, black);
        padding: -10%;
        color: rgb(251, 252, 255);}
      .titre{
        text-align: center;
        text-decoration: underline;
        color:rgb(20, 20, 21);}
        a{color:aliceblue;
            text-decoration: none;
            margin:30px;}
          .con{text-align:justify;}

          
          form {
            width: 300px;
            margin: 0 auto;
            padding: 20px;
            opacity:initial;
            border-radius: 5px; 
        }

        label {
            display: block;
            color: #0d0d0d;
            margin-bottom:5px;
        }

        input[type="text"],
        input[type="email"],
        textarea {
            width: 100%;
            padding: 10px;
            border-radius:3px;
        }

        textarea {
            height: 100px;
        }

        input[type="submit"] 
        {
            background-color:#0c0c0c;
            color: #f6eeee;
            padding: 10px 20px;
            border-radius: 3px;
            cursor: pointer;
        }
        @media (max-width: 768px) {
            body {
              font-size: 14px;
            }
            .tete {
              grid-template-columns: 1fr;
            }
            img, video {
              width: 100%;
              height: auto;
            }
            h1 {
              margin-left: 10%;
            }
            /* Autres ajustements pour les petits écrans */
          }
          
          /* Media Query pour tablettes */
          @media (min-width: 769px) and (max-width: 1024px) {
            /* Styles spécifiques pour les tablettes */
          }
          
          /* Media Query pour grands écrans */
          @media (min-width: 1025px) {
            /* Styles spécifiques pour les grands écrans */
          }
.end-section{
  display: flex;
  justify-content: space-around;
  }
footer{
    background-image: url(images/en\ tete.avif);
    border-radius: 3px;
    background-size: cover;
    background-position: center;
  }
    